.elixir_ls
.git
!.git/HEAD
!.git/refs
.github
/_build/
!/_build/prod
/assets/node_modules/
/deps/
/priv/static/assets/
/priv/static/cache_manifest.json
/test/
.dockerignore
*.ez
erl_crash.dump
notes.md
