<!DOCTYPE html>
<html lang="fr" class="[scrollbar-gutter:stable] scroll-smooth">
  <head>
    {Application.get_env(:live_debugger, :live_debugger_tags)}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Amvcc" suffix=" · Seigneurie de Coucy">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href="/images/amvcc/seigneurie.png" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full min-h-screen w-screen bg-white">
    <div class="follower w-sceen absolute inset-x-0 bottom-0 h-0 ">
      <%!-- For the scroll animation --%>
    </div>
    <main class="text-amvcc-neutral flex h-full min-h-screen w-screen flex-col">
      <header class="h-[3rem] fixed z-10 mb-4 flex w-full flex-none items-stretch justify-between bg-white p-4 shadow md:px-16">
        <div class="flex items-center">
          <a href={~p"/"} class="hover:text-amvcc-primary">{gettext("Home")}</a>
        </div>
        <nav class="flex items-center">
          <ul class="space-around flex flex-row items-stretch space-x-8">
            <li>
              <a href={~p"/vetements"} class="hover:text-amvcc-primary">
                {gettext("Clothes")}
              </a>
            </li>
            <li>
              <a href={~p"/chaussures"} class="hover:text-amvcc-primary">
                {gettext("Shoes")}
              </a>
            </li>
          </ul>
        </nav>
      </header>

      <main class="pt-[3rem] font-serif h-auto flex-auto text-justify">
        {@inner_content}
      </main>

      <footer class="text-amvcc-content-neutral bg-amvcc-neutral min-h-[3rem] bottom-0 z-10 flex w-full flex-none items-stretch justify-center p-4 text-xs shadow md:px-16">
        <p>Thibault Santonja - {NaiveDateTime.utc_now().year}</p>
      </footer>
    </main>
  </body>
</html>
