<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] scroll-smooth">
  <head>
    {Application.get_env(:live_debugger, :live_debugger_tags)}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Photography" suffix=" · Thibault San">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href="/images/photography/logo.png" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="font-serif h-screen w-screen bg-black text-justify text-white">
    <div class="follower w-sceen absolute inset-x-0 bottom-0 h-0 ">
      <%!-- For the scroll animation --%>
    </div>
    <main id="photography" class="h-screen w-screen">
      {@inner_content}
    </main>
  </body>
</html>
