@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
blockquote {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow:
        0 1rem 1.5rem -1px rgb(0 0 0 / 0.1),
        0 0.5rem 1rem -0.5rem rgb(0 0 0 / 0.1);
    border-radius: 1rem;
}

blockquote > p {
    text-justify: inter-word;
    font-style: italic;
    font-weight: 300;
    line-height: calc(var(--spacing) * 1.625);
    color: oklch(0.21 0.034 264.665); /* --color-gray-900 */
    /* --color-gray-50 */
}

p {
    text-justify: inter-word;
}

/* --- For photography menu --- */

/* Display image only when related link is hovered */
#photography #gallery img {
    display: none;
}

#photography #gallery a:hover + img,
#photography #gallery img:hover {
    display: block;
}

/* Display animation on link hover (only medium or bigger screens)) */
@media only screen and (min-width: 48rem) {
    #photography #gallery li {
        font-size: 1.5rem (24px);
        line-height: calc(2 / 1.5);
    }

    #photography #gallery li:not(:first-child) {
        padding-top: 0.5rem;
    }

    #photography #gallery li:hover {
        font-size: 1.875rem;
        line-height: calc(2.25 / 1.875);
    }

    /* Right side */
    #photography #gallery li:hover + li {
        font-size: 1.75rem;
        line-height: calc(2.25 / 1.75);
    }

    #photography #gallery li:hover + li + li {
        font-size: 1.625rem;
        line-height: calc(2.25 / 1.625);
    }

    /* Left side */
    #photography #gallery li:has(+ li:hover) {
        font-size: 1.75rem;
        line-height: calc(2.25 / 1.75);
    }

    #photography #gallery li:has(+ li + li:hover) {
        font-size: 1.625rem;
        line-height: calc(2.25 / 1.625);
    }

    #photography #gallery li {
        transition:
            font-size,
            line-height,
            cubic-bezier(0.25, 1, 0.5, 1) 0.4s;
    }
}
