#photography {
    /*
    --------------------------------------------
    --------------- LANDING PAGE ---------------
    --------------------------------------------
    */
    /* Display image only when related link is hovered */
    #gallery img {
        /* display: none; */
        opacity: 0;
    }

    #gallery button:hover + img,
    #gallery img:hover,
    #gallery button:active + img,
    #gallery img:active {
        /* display: block; */
        opacity: 1;
        transition:
            opacity,
            cubic-bezier(0.25, 1, 0.5, 1) 0.8s;
    }

    /* Display animation on link hover (only small or bigger screens)) */
    /* @media only screen and (min-width: 40rem) { */
    #gallery li {
        font-size: 1.5rem (24px);
        line-height: calc(2 / 1.5);
    }

    #gallery li:not(:first-child) button {
        padding-top: 0.5rem;
    }

    #gallery li:hover {
        font-size: 1.875rem;
        line-height: calc(2.25 / 1.875);
    }

    /* Right side */
    #gallery li:hover + li {
        font-size: 1.75rem;
        line-height: calc(2.25 / 1.75);
    }

    #gallery li:hover + li + li {
        font-size: 1.625rem;
        line-height: calc(2.25 / 1.625);
    }

    #gallery li:hover + li + li + li {
        font-size: 1.5375rem;
        line-height: calc(2.25 / 1.5375);
    }

    #gallery li:hover + li + li + li {
        font-size: 1.5125rem;
        line-height: calc(2.25 / 1.5125);
    }

    /* Left side */
    #gallery li:has(+ li:hover) {
        font-size: 1.75rem;
        line-height: calc(2.25 / 1.75);
    }

    #gallery li:has(+ li + li:hover) {
        font-size: 1.625rem;
        line-height: calc(2.25 / 1.625);
    }

    #gallery li:has(+ li + li:hover) {
        font-size: 1.5375rem;
        line-height: calc(2.25 / 1.5375);
    }

    #gallery li:has(+ li + li:hover) {
        font-size: 1.5125rem;
        line-height: calc(2.25 / 1.5125);
    }

    #gallery li {
        transition:
            font-size,
            line-height,
            cubic-bezier(0.25, 1, 0.5, 1) 0.4s;
    }

    /*
    ---------------------------------------------
    --------------- TIMELINE PAGE ---------------
    ---------------------------------------------
    */
    #timeline-year {
        transition: transform 0.7s ease-out;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    #timeline-year.flip {
        transform: translate(-50%, -50%) rotateX(180deg);
    }

    .digit > div {
        line-height: 1em;
        font-size: inherit;
    }
}
